<div>
  <div class="w-full mb-4 flex items-center">
    <!-- Horizontal Line -->
    <div class="flex-1 border-t border-solid border-gray-300"></div>

    <!-- Dropdown -->
    <div class="ml-4 flex items-center gap-2">
      <!-- Label -->
      <span class="text-normal text-black font-normal">Sort by:</span>
      <select
        class="border border-gray-300 border-solid rounded-md text-sm p-1 text-gray-700 bg-white shadow-sm focus:outline-none focus:ring-1 focus:ring-primary"
      >
        <option value="all">All</option>
        <option value="posted_by_you">Posted By You</option>
        <option value="recent">Recent</option>
        <option value="old">Old</option>
      </select>
    </div>
  </div>
  <div class="bg-white mb-4 rounded-lg shadow-md w-full mx-auto">
    <div class="p-4">
      <!-- Header Section -->
      <div class="flex justify-between items-start">
        <!-- User Info -->
        <div class="flex items-center">
          <img
            class="object-cover w-10 h-10 rounded-full"
            src="https://randomuser.me/api/portraits/women/2.jpg"
            alt="Jyoti Kumari"
          />
          <div class="ml-2">
            <h3
              class="font-bold text-sm text-black"
              style="
                margin: 0;
                padding: 0;
                line-height: 1;
                font-size: 14px;
                font-weight: 500;
              "
            >
              Jyoti Kumari
            </h3>
            <p
              class="text-gray-500 text-xs"
              style="margin-top: 4px; padding: 0; line-height: 1"
            >
              HR Manager
              <span
                class="mx-1 w-1.5 h-1.5 bg-gray-500 rounded-full inline-block"
              ></span>
              <span>Posted 2s ago</span>
            </p>
          </div>
        </div>
        <!-- Dropdown Button -->
        <div class="relative">
          <button
            class="focus:outline-none"
            (click)="toggleDropdown()"
            [ngClass]="{ 'bg-gray-200 rounded-md': isDropdownOpen }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
          </button>
          <div
            class="absolute right-0 mt-2 w-32 border border-solid border-gray-300 bg-white rounded-md shadow-lg z-10"
            [ngClass]="{ block: isDropdownOpen, hidden: !isDropdownOpen }"
          >
            <div class="py-1">
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Divider -->
      <hr class="border-t-2 border-solid my-2 border-gray-100" />

      <!-- Poll Question -->
      <h3 class="font-medium  text-base text-black">
        How do you currently feel about your work-life balance?
      </h3>

      <!-- Poll Options -->
      <form class="space-y-4 mt-4">
        <!-- Good Option -->
        <div>
          <div class="flex items-center">
            <div class="relative inline-flex items-center justify-center">
              <input
                type="radio"
                name="vote"
                id="good"
                class="w-5 h-5"
                [(ngModel)]="selectedOption"
                (change)="onOptionSelect($event)"
                value="good"
              />
              <!-- Centered Checkmark -->
              <svg
                *ngIf="selectedOption === 'good'"
                class="absolute w-3.5 h-3.5 pointer-events-none"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 6L9 17L4 12"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <label
              for="good"
              class="ml-3 text-sm cursor-pointer text-gray-700 flex-1"
            >
              Good
            </label>
            <span class="text-gray-400 text-sm">{{ goodVotes }} Votes</span>
          </div>
          <div
            class="relative mt-2 ml-8 w-[calc(100%-32px)] bg-gray-100 rounded-full h-[2px]"
          >
            <div
              class="absolute top-0 left-0 bg-green-500 h-[2px] rounded-full transition-all duration-300"
              [style.width]="(goodVotes / totalVotes) * 100 + '%'"
            ></div>
          </div>
        </div>

        <!-- Fair Option -->
        <div>
          <div class="flex items-center">
            <div class="relative inline-flex items-center justify-center">
              <input
                type="radio"
                name="vote"
                id="fair"
                class="w-5 h-5"
                [(ngModel)]="selectedOption"
                (change)="onOptionSelect($event)"
                value="fair"
              />
              <svg
                *ngIf="selectedOption === 'fair'"
                class="absolute w-3.5 h-3.5 pointer-events-none"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 6L9 17L4 12"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <label
              for="fair"
              class="ml-3 text-sm cursor-pointer text-gray-700 flex-1"
            >
              Fair
            </label>
            <span class="text-gray-400 text-sm">{{ fairVotes }} Votes</span>
          </div>
          <div
            class="relative mt-2 ml-8 w-[calc(100%-32px)] bg-gray-100 rounded-full h-[2px]"
          >
            <div
              class="absolute top-0 left-0 bg-green-500 h-[2px] rounded-full transition-all duration-300"
              [style.width]="(fairVotes / totalVotes) * 100 + '%'"
            ></div>
          </div>
        </div>

        <!-- Poor Option -->
        <div>
          <div class="flex items-center">
            <div class="relative inline-flex items-center justify-center">
              <input
                type="radio"
                name="vote"
                id="poor"
                class="w-5 h-5"
                [(ngModel)]="selectedOption"
                (change)="onOptionSelect($event)"
                value="poor"
              />
              <svg
                *ngIf="selectedOption === 'poor'"
                class="absolute w-3.5 h-3.5 pointer-events-none"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 6L9 17L4 12"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <label
              for="poor"
              class="ml-3 text-sm cursor-pointer text-gray-700 flex-1"
            >
              Poor
            </label>
            <span class="text-gray-400 text-sm">{{ poorVotes }} Votes</span>
          </div>
          <div
            class="relative mt-2 ml-8 w-[calc(100%-32px)] bg-gray-100 rounded-full h-[2px]"
          >
            <div
              class="absolute top-0 left-0 bg-green-500 h-[2px] rounded-full transition-all duration-300"
              [style.width]="(poorVotes / totalVotes) * 100 + '%'"
            ></div>
          </div>
        </div>
      </form>

      <hr class="border-t-2 mt-4 border-solid my-2 border-gray-100" />
      <!-- Footer Section -->
      <div class="mt-2 flex justify-between items-center text-gray-500 text-sm">
        <div>
          <p class="text-black">Expires in 5d</p>
        </div>
        <div class="relative">
          <!-- View Votes Button -->
          <p
            class="bg-none text-primary text-sm cursor-pointer"
            (click)="openPollDetailsModal()"
          >
            View Votes
          </p>

          <!-- Poll Details Modal -->
          <div
            *ngIf="isPollDetailsModalOpen"
            class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
          >
            <!-- Modal Content -->
            <div
              class="bg-white rounded-lg shadow-lg w-full max-w-lg max-h-[90vh] overflow-y-auto custom-scrollbar"
            >
              <!-- Modal Header -->
              <div class="flex justify-between items-center px-4 py-2">
                <p class="text-md text-black font-bold">Poll Details</p>
                <p
                  class="text-gray-400 text-lg hover:text-gray-700 cursor-pointer"
                  (click)="closePollDetailsModal()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4"
                    />
                  </svg>
                </p>
              </div>
              <hr class="border-t-2 border-solid mb-1 border-gray-100" />

              <!-- Poll Question -->
              <div class="p-4 space-y-2">
                <h3 class="text-gray-700 font-semibold">
                  How do you currently feel about your work-life balance?
                </h3>

                <!-- Good Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">Good</p>
                    <p class="text-gray-500 text-xs">{{ goodVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of goodVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-md text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>

                <!-- Fair Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">Fair</p>
                    <p class="text-gray-500 text-xs">{{ fairVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of fairVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-md text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>
                <hr class="border-t-2 border-gray-100 my-4" />

                <!-- Poor Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">Poor</p>
                    <p class="text-gray-500 text-xs">{{ poorVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of poorVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-sm text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center -space-x-1">
        <span class="text-xs text-gray-500 mr-3">
          Total Votes : {{ users.length }}
        </span>
        <ng-container *ngFor="let user of users; let i = index">
          <ng-container *ngIf="i < 4">
            <img
              class="w-4 h-4 rounded-full border-2 border-white"
              [src]="user.avatar"
              [alt]="user.name"
            />
          </ng-container>
        </ng-container>
        <!-- <ng-container *ngIf="users.length > 4">
        <span class="text-xs text-gray-500 ml-2"
          >+{{ users.length - 4 }} others</span
        >
      </ng-container> -->
      </div>
    </div>
  </div>

  <!-- card 2 -->

  <div class="bg-white mb-4 rounded-lg shadow-md w-full mx-auto">
    <div class="p-4">
      <!-- Header Section -->
      <div class="flex justify-between items-start">
        <!-- User Info -->
        <div class="flex items-center">
          <img
            class="object-cover w-10 h-10 rounded-full"
            src="https://randomuser.me/api/portraits/women/5.jpg"
            alt="Jyoti Kumari"
          />
          <div class="ml-2">
            <h3
              class="font-bold text-sm text-black"
              style="
                margin: 0;
                padding: 0;
                line-height: 1;
                font-size: 14px;
                font-weight: 500;
              "
            >
              Monica Geller
            </h3>
            <p
              class="text-gray-500 text-xs"
              style="margin-top: 4px; padding: 0; line-height: 1"
            >
              HR - Employee Engagement
              <span
                class="mx-1 w-1.5 h-1.5 bg-gray-500 rounded-full inline-block"
              ></span>
              <span>Posted 1d ago</span>
            </p>
          </div>
        </div>
        <!-- Dropdown Button -->
        <div class="relative">
          <button
            class="focus:outline-none"
            (click)="toggleDropdown()"
            [ngClass]="{ 'bg-gray-200 rounded-md': isDropdownOpen }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
          </button>
          <div
            class="absolute right-0 mt-2 w-32 border border-solid border-gray-300 bg-white rounded-md shadow-lg z-10"
            [ngClass]="{ block: isDropdownOpen, hidden: !isDropdownOpen }"
          >
            <div class="py-1">
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Divider -->
      <hr class="border-t-2 border-solid my-2 border-gray-100" />

      <!-- Poll Question -->
      <h3 class="font-medium text-base text-black">
        What type of team building activities would you all prefer?
      </h3>

      <!-- Poll Options -->
      <form class="space-y-6 mt-4">
  <!-- Good -->
  <div class="relative">
    <div class="flex items-center mb-2">
      <div class="relative inline-flex items-center justify-center">
        <input
          type="radio"
          name="vote"
          id="good"
          class="w-5 h-5"
          [(ngModel)]="selectedOption"
          (change)="onOptionSelect($event)"
          value="good"
        />
        <!-- Custom Checkmark -->
        <svg
          *ngIf="selectedOption === 'good'"
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3 h-3 text-white"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 3L4.5 8.5L2 6"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="flex-1 ml-3">
        <div class="flex items-center justify-between">
          <label for="good" class="text-sm text-gray-700">
            Good
          </label>
          <span class="text-gray-400 text-sm">{{ goodVotes }} Votes</span>
        </div>
        <div class="relative h-[2px] bg-gray-100 rounded-full mt-2">
          <div
            class="absolute top-0 left-0 h-[2px] bg-green-500 rounded-full transition-all duration-300"
            [style.width]="(goodVotes / totalVotes) * 100 + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fair -->
  <div class="relative">
    <div class="flex items-center mb-2">
      <div class="relative inline-flex items-center justify-center">
        <input
          type="radio"
          name="vote"
          id="fair"
          class="w-5 h-5"
          [(ngModel)]="selectedOption"
          (change)="onOptionSelect($event)"
          value="fair"
        />
        <!-- Custom Checkmark -->
        <svg
          *ngIf="selectedOption === 'fair'"
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3 h-3 text-white"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 3L4.5 8.5L2 6"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="flex-1 ml-3">
        <div class="flex items-center justify-between">
          <label for="fair" class="text-sm text-gray-700">
            Fair
          </label>
          <span class="text-gray-400 text-sm">{{ fairVotes }} Votes</span>
        </div>
        <div class="relative h-[2px] bg-gray-100 rounded-full mt-2">
          <div
            class="absolute top-0 left-0 h-[2px] bg-green-500 rounded-full transition-all duration-300"
            [style.width]="(fairVotes / totalVotes) * 100 + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Poor -->
  <div class="relative">
    <div class="flex items-center mb-2">
      <div class="relative inline-flex items-center justify-center">
        <input
          type="radio"
          name="vote"
          id="poor"
          class="w-5 h-5"
          [(ngModel)]="selectedOption"
          (change)="onOptionSelect($event)"
          value="poor"
        />
        <!-- Custom Checkmark -->
        <svg
          *ngIf="selectedOption === 'poor'"
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3 h-3 text-white"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 3L4.5 8.5L2 6"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="flex-1 ml-3">
        <div class="flex items-center justify-between">
          <label for="poor" class="text-sm text-gray-700">
            Poor
          </label>
          <span class="text-gray-400 text-sm">{{ poorVotes }} Votes</span>
        </div>
        <div class="relative h-[2px] bg-gray-100 rounded-full mt-2">
          <div
            class="absolute top-0 left-0 h-[2px] bg-green-500 rounded-full transition-all duration-300"
            [style.width]="(poorVotes / totalVotes) * 100 + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>
</form>

      <hr class="border-t-2 mt-4 border-solid my-2 border-gray-100" />
      <!-- Footer Section -->
      <div class="mt-2 flex justify-between items-center text-gray-500 text-sm">
        <div>
          <p class="text-black">Expires in 3d</p>
        </div>
        <div class="relative">
          <!-- View Votes Button -->
          <p
            class="bg-none text-primary text-sm cursor-pointer"
            (click)="openPollDetailsModal()"
          >
            View Votes
          </p>

          <!-- Poll Details Modal -->
          <div
            *ngIf="isPollDetailsModalOpen"
            class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
          >
            <!-- Modal Content -->
            <div
              class="bg-white rounded-lg shadow-lg w-full max-w-lg max-h-[90vh] overflow-y-auto custom-scrollbar"
            >
              <!-- Modal Header -->
              <div class="flex justify-between items-center px-4 py-2">
                <p class="text-md text-black font-bold">Poll Details</p>
                <p
                  class="text-gray-400 text-lg hover:text-gray-700 cursor-pointer"
                  (click)="closePollDetailsModal()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4"
                    />
                  </svg>
                </p>
              </div>
              <hr class="border-t-2 border-solid mb-1 border-gray-100" />

              <!-- Poll Question -->
              <div class="p-4 space-y-2">
                <h3 class="text-gray-700 font-semibold">
                  What type of team building activities would you all prefer?
                </h3>

                <!-- Good Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">
                      Outdoor Adventures
                    </p>
                    <p class="text-gray-500 text-xs">{{ goodVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of goodVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-md text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>

                <!-- Fair Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">
                      Creative Workshops
                    </p>
                    <p class="text-gray-500 text-xs">{{ fairVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of fairVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-md text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>
                <hr class="border-t-2 border-gray-100 my-4" />

                <!-- Poor Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">Team Sports</p>
                    <p class="text-gray-500 text-xs">{{ poorVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of poorVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-sm text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center -space-x-1">
        <span class="text-xs text-gray-500 mr-3">
          Total Votes : {{ users.length }}
        </span>
        <ng-container *ngFor="let user of users; let i = index">
          <ng-container *ngIf="i < 4">
            <img
              class="w-4 h-4 rounded-full border-2 border-white"
              [src]="user.avatar"
              [alt]="user.name"
            />
          </ng-container>
        </ng-container>
        <!-- <ng-container *ngIf="users.length > 4">
        <span class="text-xs text-gray-500 ml-2"
          >+{{ users.length - 4 }} others</span
        >
      </ng-container> -->
      </div>
    </div>
  </div>

  <!-- card 3 -->

  <div class="bg-white mb-4 rounded-lg shadow-md w-full mx-auto">
    <div class="p-4">
      <!-- Header Section -->
      <div class="flex justify-between items-start">
        <!-- User Info -->
        <div class="flex items-center">
          <img
            class="object-cover w-10 h-10 rounded-full"
            src="https://randomuser.me/api/portraits/men/47.jpg"
            alt="Jyoti Kumari"
          />
          <div class="ml-2">
            <h3
              class="font-bold text-sm text-black"
              style="
                margin: 0;
                padding: 0;
                line-height: 1;
                font-size: 14px;
                font-weight: 500;
              "
            >
              Simran Kaur
            </h3>
            <p
              class="text-gray-500 text-xs"
              style="margin-top: 4px; padding: 0; line-height: 1"
            >
              HR - Employee Engagement
              <span
                class="mx-1 w-1.5 h-1.5 bg-gray-500 rounded-full inline-block"
              ></span>
              <span>Posted 2d ago</span>
            </p>
          </div>
        </div>
        <!-- Dropdown Button -->
        <div class="relative">
          <button
            class="focus:outline-none"
            (click)="toggleDropdown()"
            [ngClass]="{ 'bg-gray-200 rounded-md': isDropdownOpen }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
          </button>
          <div
            class="absolute right-0 mt-2 w-32 border border-solid border-gray-300 bg-white rounded-md shadow-lg z-10"
            [ngClass]="{ block: isDropdownOpen, hidden: !isDropdownOpen }"
          >
            <div class="py-1">
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Divider -->
      <hr class="border-t-2 border-solid my-2 border-gray-100" />

      <!-- Poll Question -->
      <h3 class="font-medium text-base text-black">
        What type of team building activities would you all prefer?
      </h3>

      <!-- Poll Options -->
      <form class="space-y-4 mt-4">
        <div>
          <div class="flex items-center">
            <input
              type="radio"
              name="vote"
              id="OutdoorAdventures"
              class="w-4 h-4 text-poll focus:ring-green-500 border-gray-300"
              [(ngModel)]="selectedOption"
              (change)="onOptionSelect($event)"
              value="OutdoorAdventures"
            />

            <label
              for="OutdoorAdventures"
              class="ml-2 text-sm text-gray-700 flex-1"
              >Outdoor Adventures</label
            >
            <span class="text-gray-400 text-xs">{{ goodVotes }} Votes</span>
          </div>
          <div class="relative mt-2 w-full bg-gray-200 rounded-full h-0.5">
            <div
              class="absolute top-0 left-0 bg-green-500 h-0.5 rounded-full"
              [style.width]="(goodVotes / totalVotes) * 100 + '%'"
            ></div>
          </div>
        </div>

        <div>
          <div class="flex items-center">
            <input
              type="radio"
              name="vote"
              id="CreativeWorkshops"
              class="w-4 h-4 text-poll focus:ring-green-500 border-gray-300"
              [(ngModel)]="selectedOption"
              (change)="onOptionSelect($event)"
              value="CreativeWorkshops"
            />
            <label
              for="CreativeWorkshops"
              class="ml-2 text-sm text-gray-700 flex-1"
              >Creative Workshops</label
            >
            <span class="text-gray-400 text-xs">{{ fairVotes }} Votes</span>
          </div>
          <div class="relative mt-2 w-full bg-gray-200 rounded-full h-0.5">
            <div
              class="absolute top-0 left-0 bg-green-500 h-0.5 rounded-full"
              [style.width]="(fairVotes / totalVotes) * 100 + '%'"
            ></div>
          </div>
        </div>

        <div>
          <div class="flex items-center">
            <input
              type="radio"
              name="vote"
              id="TeamSports"
              class="w-4 h-4 text-poll focus:ring-green-500 border-gray-300"
              [(ngModel)]="selectedOption"
              (change)="onOptionSelect($event)"
              value="TeamSports"
            />
            <label for="TeamSports" class="ml-2 text-sm text-gray-700 flex-1"
              >Team Sports</label
            >
            <span class="text-gray-400 text-xs">{{ poorVotes }} Votes</span>
          </div>
          <div class="relative mt-2 w-full bg-gray-200 rounded-full h-0.5">
            <div
              class="absolute top-0 left-0 bg-green-500 h-0.5 rounded-full"
              [style.width]="(poorVotes / totalVotes) * 100 + '%'"
            ></div>
          </div>
        </div>
      </form>

      <hr class="border-t-2 mt-4 border-solid my-2 border-gray-100" />
      <!-- Footer Section -->
      <div class="mt-2 flex justify-between items-center text-gray-500 text-sm">
        <div>
          <p class="text-black">Expires in 5d</p>
        </div>
        <div class="relative">
          <!-- View Votes Button -->
          <p
            class="bg-none text-primary text-sm cursor-pointer"
            (click)="openPollDetailsModal()"
          >
            View Votes
          </p>

          <!-- Poll Details Modal -->
          <div
            *ngIf="isPollDetailsModalOpen"
            class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
          >
            <!-- Modal Content -->
            <div
              class="bg-white rounded-lg shadow-lg w-full max-w-lg max-h-[90vh] overflow-y-auto custom-scrollbar"
            >
              <!-- Modal Header -->
              <div class="flex justify-between items-center px-4 py-2">
                <p class="text-md text-black font-bold">Poll Details</p>
                <p
                  class="text-gray-400 text-lg hover:text-gray-700 cursor-pointer"
                  (click)="closePollDetailsModal()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4"
                    />
                  </svg>
                </p>
              </div>
              <hr class="border-t-2 border-solid mb-1 border-gray-100" />

              <!-- Poll Question -->
              <div class="p-4 space-y-2">
                <h3 class="text-gray-700 font-semibold">
                  What type of team building activities would you all prefer?
                </h3>

                <!-- Good Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">
                      Outdoor Adventures
                    </p>
                    <p class="text-gray-500 text-xs">{{ goodVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of goodVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-md text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>

                <!-- Fair Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">
                      Creative Workshops
                    </p>
                    <p class="text-gray-500 text-xs">{{ fairVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of fairVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-md text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>
                <hr class="border-t-2 border-gray-100 my-4" />

                <!-- Poor Votes -->
                <div
                  class="border border-solid rounded-md border-gray-200 my-2 py-2 px-4"
                >
                  <div class="flex justify-between items-center">
                    <p class="text-black text-sm font-bold">Team Sports</p>
                    <p class="text-gray-500 text-xs">{{ poorVotes }} Votes</p>
                  </div>
                  <hr class="border-t-2 border-solid mb-1 border-gray-100" />
                  <div class="space-y-2 mt-2">
                    <div
                      *ngFor="let voter of poorVoters"
                      class="flex items-center justify-between"
                    >
                      <div class="flex items-center space-x-2">
                        <img
                          [src]="voter.avatar"
                          alt="Avatar"
                          class="w-6 h-6 rounded-full"
                        />
                        <div class="ml-2">
                          <p
                            class="text-black"
                            style="
                              margin-top: 4px;
                              padding: 0;
                              line-height: 1;
                              font-size: 14px;
                              font-weight: 500;
                            "
                          >
                            {{ voter.name }}
                            <span
                              class="mx-2 w-1 h-1 bg-gray-400 rounded-full inline-block"
                            ></span>
                            <span class="text-sm text-gray-400">{{
                              voter.role
                            }}</span>
                          </p>
                        </div>
                      </div>
                      <span class="text-xs text-gray-400">{{
                        voter.time
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center -space-x-1">
        <span class="text-xs text-gray-500 mr-3">
          Total Votes : {{ users.length }}
        </span>
        <ng-container *ngFor="let user of users; let i = index">
          <ng-container *ngIf="i < 4">
            <img
              class="w-4 h-4 rounded-full border-2 border-white"
              [src]="user.avatar"
              [alt]="user.name"
            />
          </ng-container>
        </ng-container>
        <!-- <ng-container *ngIf="users.length > 4">
        <span class="text-xs text-gray-500 ml-2"
          >+{{ users.length - 4 }} others</span
        >
      </ng-container> -->
      </div>
    </div>
  </div>
</div>
