/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Narrow scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Light gray scrollbar */
  border-radius: 4px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Slightly darker on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Light background */
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #e5e7eb;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input[type="radio"]:checked {
  border: 2px solid #10b981;
  background-color: #10b981;
}

/* Container for radio and checkmark */
.relative.inline-flex {
  width: 20px;
  height: 20px;
}

/* Center the SVG checkmark */
.relative.inline-flex svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
