


<div *ngIf="!showAddNewEmployee">
<div *ngIf="!showEditEmployee">
  <div *ngIf="!showViewDetailsEmployee">
  <div class="py-8 px-[3%] h-auto">
    <div class="flex flex-col gap-2">
        <div class="flex justify-between">
            <div class="flex flex-col gap-1">
                <h1 class="font-semibold text-[1.125rem]">Employees</h1>
                <span class="text-gray-500 font-normal text-[0.9rem]">Welcome to employees section, where you can add company's employees</span>
            </div>
            <div class="py-2">
                <button class="bg-blue-500 text-white px-4 py-2 font-normal text-[0.8rem] rounded-full mr-4" >
                  <img src="../../../assets/Employees Assets/Icon/Bulk Upload.svg" alt="" class="inline"/>
                   Bulk Upload Employees</button>
                <button class="bg-blue-500 text-white px-4 py-2 font-normal text-[0.8rem] rounded-full" (click)="handleAddNewEmployee()"> + Add New Employee</button>
            </div>
        </div>

        <div class="relative search py-6">
             <!-- Search Icon inside the input field -->
           <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="absolute left-2 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>


            <input type="text" 
            placeholder="Search employees"           
            class="p-2 pl-10 border w-80 border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white"
            [(ngModel)]="searchTerm" 
            (keyup)="applyFilter()" 
            (focus)="onFocus()"
            (blur)="onBlur()"
            />
            <button *ngIf="isFocused && searchTerm" (click)="clearSearch()" class="clear-btn">
              <img src="../../../assets/Employees Assets/Icon/Close.svg" alt="" />
            </button>

            <button *ngIf="isFocused" class="search-btn">
              <img src="../../../assets/Employees Assets/Icon/Search.svg " alt="" />
             </button>
        </div>

        <div class="flex justify-between ">
          <span class="font-medium text-[0.9rem]">Total No.of Employees : {{totalEmployees}}</span>
          <div>
            <span class="text-sm text-gray-600">Rows Per Page</span>
            <select [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)"
                class="p-1 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white">
                <option [value]="5">5</option>
                <option [value]="10">10</option>
                <option [value]="25">25</option>
            </select>
          </div>
        </div>

        <div class="employees-table w-full">
         <div class="inline-block min-w-full py-2 align-middle">
          <div class="overflow-x-hidden rounded-lg ">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="employeeId">
                <th mat-header-cell *matHeaderCellDef> Employee ID </th>
                <td mat-cell *matCellDef="let element">{{element.employeeId}}</td>
              </ng-container>
  
              <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                <td mat-cell *matCellDef="let element">
                  <img src="../../../assets/downloaded/Ellipse 2353.png" alt="" class="inline px-1" />
                  {{element.firstName}}</td>
              </ng-container>
  
              <ng-container matColumnDef="joiningDate">
                <th mat-header-cell *matHeaderCellDef> Joining Date </th>
                <td mat-cell *matCellDef="let element">{{element.joiningDate | date}}</td>
              </ng-container>
  
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef> Designation </th>
                <td mat-cell *matCellDef="let element">{{element.designation}}</td>
              </ng-container>
  
              <ng-container matColumnDef="reportingManager">
                <th mat-header-cell *matHeaderCellDef> Reporting Manager </th>
                <td mat-cell *matCellDef="let element">
                  <img src="../../../assets/downloaded/Union.jpg" alt="" class="inline px-1" />
                  {{element.reportingManager}}</td>
              </ng-container>
  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="Edit" (click)="onEdit(element)">
                    <img src="../../../assets/Employees Assets/Icon/Edit.svg" alt="edit" />
                  </button>
                  <button mat-icon-button matTooltip="Delete" (click)="onDelete(element)">
                    <img src="../../../assets/Employees Assets/Icon/Delete.svg" alt="Delete">
                  </button>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="viewDetails">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="View Details" (click)="onViewDetails(element)">
                    <img src="../../../assets/Employees Assets/Icon/View Details.svg" alt="details" />
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row [style.border-bottom]="'2px solid rgb(229 231 235 )'" *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
  
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,15,20]" aria-label="Select page"></mat-paginator>
  
          </div>
         </div>
        </div>
        
    </div>
    </div>
    
</div> 
</div>
</div>

<app-edit-employee *ngIf="showEditEmployee" [employee] = "selectedEmployee"></app-edit-employee>
<app-view-details-employee *ngIf="showViewDetailsEmployee" [employee] = "selectedEmployee"></app-view-details-employee>
<app-add-new-employee *ngIf="showAddNewEmployee"></app-add-new-employee>

 
