<div class="flex flex-row h-auto w-full">
    <div class="flex flex-col w-[30%] h-screen">
        <div class="relative p-4 ">
            <!-- Search Icon inside the input field -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute left-6 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>

            <!-- Search Input -->
            <input type="text" [(ngModel)]="searchTerm" (keyup)="applyFilter()" placeholder="Search "
                class="p-2 pl-10 border w-full border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100" />
        </div>

        <div class="">
            <mat-tab-group>
                <mat-tab label="pending" >
                   <div class="max-h-[70vh]  overflow-y-auto">
                    <div *ngFor="let item of filteredData; let i= index" (click)="selectOffer(item)" class="overflow-auto no-scrollbar">
                        <div class="flex flex-row w-full hover:bg-gray-100 p-2" (click)="setActiveIndex(i)" [ngClass]="{'active': activeIndex===i, 'inactive': activeIndex !== i}">
                            <img src="../../../assets/downloaded/Ellipse 2353.png" alt="" class="rounded-full p-2"/>
                            <div class="flex flex-col w-[100%] p-1 gap-1">
                                <div class="flex justify-between  ">
                                    <span class="font-normal text-[0.9rem]">{{item.employeeName}}</span>
                                    <span class="font-normal text-[0.7rem] text-gray-500">2:34 pm</span>
                                </div>
                                <div class="flex justify-between   text-[0.8rem] text-gray-500">
                                    <span class="font-normal text-[0.8rem] text-gray-500">{{item.offerStatus}}</span>
                                    <img src="../../../assets/downloaded/Red flag.svg" alt="" class="w-4" />
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                    
                </mat-tab>
                <mat-tab label="approved">
                    
                   <div class="max-h-[70vh]  overflow-y-auto">
                    <div class="flex flex-col">
                        <div class="flex flex-row m-4 px-2">
                            <img src="../../../assets/downloaded/Download.svg" alt="" class="ml-2 px-2" />
                            <span class="font-normal text-[0.9rem] ">Download all approved letters</span>
                        </div>
                        <div *ngFor="let item of filteredData; let i= index" (click)="selectOffer(item)" class="overflow-auto no-scrollbar">
                            <div class="flex flex-row w-full hover:bg-gray-100 p-2" (click)="setActiveIndex(i)" [ngClass]="{'active': activeIndex===i, 'inactive': activeIndex !== i}">
                                <img src="../../../assets/downloaded/Ellipse 2353.png" alt="" class="rounded-full p-2"/>
                                <div class="flex flex-col w-[100%] p-1 gap-1">
                                    <div class="flex justify-between  ">
                                        <span class="font-normal text-[0.9rem]">{{item.employeeName}}</span>
                                        <span class="font-normal text-[0.7rem] text-gray-500">2:34 pm</span>
                                    </div>
                                    <div class="flex justify-between   text-[0.8rem] text-gray-500">
                                        <span class="font-normal text-[0.8rem] text-gray-500">{{item.offerStatus}}</span>
                                        <img src="../../../assets/downloaded/Marked as Complete_Small.svg" alt="" class="w-4" />
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                   </div>
                </mat-tab>
              
            </mat-tab-group>
        </div>
     
       
    </div>
   <mat-divider [vertical]="true"></mat-divider>
   <div *ngIf="selectedOffer" class=" w-[70%] h-[100%]">
    <div class="flex flex-col  p-4 m-2">
        <div class="flex flex-row justify-between mb-4">
            <div class="flex flex-col">
                <h2 class="font-medium text-[0.9rem]">Manager Name</h2>
                <div class="flex flex-row">
                    <img src="../../../assets/downloaded/Ellipse 2353.png" alt="" class="w-6 h-auto" />
                    <span class="px-2 font-normal text-[0.8rem]" > {{selectedOffer.manager}}</span> 
                </div>
            </div>
    
            <div class="flex flex-col">
                <h2 class="font-medium text-[0.9rem]">Manager Id</h2>
                <span class="font-normal text-[0.8rem]">{{selectedOffer.managerId}}</span>
            </div>
    
            <div class="flex flex-col">
                <h2 class="font-medium text-[0.9rem]">Department</h2>
                <span class="font-normal text-[0.8rem]">{{selectedOffer.department}}</span>
            </div>
    
            <div class="flex flex-col">
                <h2 class="font-medium text-[0.9rem]">Due Date</h2>
                <span class="font-normal text-[0.8rem]">{{selectedOffer.dueDate}}</span>
            </div>
    
    
        </div>
        <div class="flex flex-col">
            <h2 class="font-medium text-[0.9rem]">File</h2>
            <div class="flex my-2">
                <img src="../../../assets/downloaded/Link.svg" alt="" class="mx-2" />
                <span class="font-normal text-[0.8rem] text-sky-500">{{selectedOffer.file}}</span>
            </div>

         
        </div>
        </div>
        <mat-divider></mat-divider> 
        <div class="flex flex-col h-screen min-h-[70vh]  relative">
            <div class="p-4 m-2">
                <h2 class="font-medium text-[0.9rem]">Activity for task 2 </h2>
                <span class="text-gray-500 flex flex-row text-[0.8rem] justify-center">Today</span>
        
            </div>
            <div class="flex flex-col flex-grow overflow-y-auto h-96 p-4 ">
                <div class="flex flex-row  ">
                  <img src="../../../assets/downloaded/Ellipse 2353.png" alt="" class="w-8">
                  <span class="text-gray-500 font-normal text-[0.8rem] px-2 mt-2"> Eva mendes at 9:30pm</span>
                </div>
                <div class="flex flex-row p-2 ml-8 rounded-md bg-gray-300 w-[30%]">
                  <img src="../../../assets/downloaded/Marked as Complete_Small.svg" alt="" class="inline px-2">
                  <span class="font-normal text-[0.8rem]">Marked as complete</span>
                </div>
  
                <div class="flex  justify-end">
                  <div class="flex flex-col">
                      <span class="text-[0.8rem] text-gray-500">6:15 pm</span>
                      <span class="p-2 font-normal text-[0.9rem]
                      border-solid border-sky-300 border-2 rounded-bl-lg rounded-t-xl pr-32 bg-gray-100" >Thank You!</span>
                  </div>
                </div>


                <div class="flex flex-row  ">
                    <img src="../../../assets/downloaded/Ellipse 2353.png" alt="" class="w-8">
                    <span class="text-gray-500 font-normal text-[0.8rem] px-2 mt-2"> Eva mendes at 9:30pm</span>
                  </div>
                  <div class="flex flex-row p-2 ml-8 rounded-md bg-gray-300 w-[30%]">
                    <img src="../../../assets/downloaded/Marked as Complete_Small.svg" alt="" class="inline px-2">
                    <span class="font-normal text-[0.8rem]">Marked as complete</span>
                  </div>
    
                  <div class="flex  justify-end">
                    <div class="flex flex-col">
                        <span class="text-[0.8rem] text-gray-500">6:15 pm</span>
                        <span class="p-2 font-normal text-[0.9rem]
                        border-solid border-sky-300 border-2 rounded-bl-lg rounded-t-xl pr-32 bg-gray-100" >Thank You!</span>
                    </div>
                  </div>



                  <div class="flex flex-row  ">
                    <img src="../../../assets/downloaded/Ellipse 2353.png" alt="" class="w-8">
                    <span class="text-gray-500 font-normal text-[0.8rem] px-2 mt-2"> Eva mendes at 9:30pm</span>
                  </div>
                  <div class="flex flex-row p-2 ml-8 rounded-md bg-gray-300 w-[30%]">
                    <img src="../../../assets/downloaded/Marked as Complete_Small.svg" alt="" class="inline px-2">
                    <span class="font-normal text-[0.8rem]">Marked as complete</span>
                  </div>
    
                  <div class="flex  justify-end">
                    <div class="flex flex-col">
                        <span class="text-[0.8rem] text-gray-500">6:15 pm</span>
                        <span class="p-2 font-normal text-[0.9rem]
                        border-solid border-sky-300 border-2 rounded-bl-lg rounded-t-xl pr-32 bg-gray-100" >Thank You!</span>
                    </div>
                  </div>

              </div>
  
           
            <div class=" bottom-0  w-full">
                <mat-divider ></mat-divider>
                <div class="flex p-4 ">
                <input 
                type="text"
                [(ngModel)]="message"
                class="p-2  border w-[70%] border-gray-300 text-[0.9rem] rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100" 
                placeholder="type a message here"
                />
                <img src="../../../assets/downloaded/Send.svg" alt="" class="mx-2 rounded-full bg-gray-300 p-2" />
        
                <button class="bg-green-600 text-white  font-normal text-[0.8rem] px-6 rounded-lg ml-8"> <img src="../../../assets/downloaded/Approve.svg"  class="inline"/> Approve </button>
             </div>
             </div>
        </div>
    </div>
</div>
    
 
